@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap");

/* Variable */
:root {
  --white: #fff;
  --light-grey: #d9d9d9;
  --dark-grey: #585858;
  --medium-grey: #a09f9f;
  --black: #000;
  --font-balsamiq: "Balsamiq Sans", cursive;
  --font-pt-serif: "PT Serif", serif;
}

/* General */
body {
  font-family: var(--font-balsamiq);
}

a {
  text-decoration: none;
}

main {
  width: 1440px;
  margin: 0 auto;
}

/* Navigation */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 103px;
  padding: 16px 40px;
  background-color: var(--black);
}

.logo {
  width: 214px;
  height: 100%;
  margin-top: 44px;
}
.logo img {
  width: 100%;
}

.nav-bar ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-bar ul li {
  list-style: none;
  padding: 10px 1em;
}

.nav-bar ul li a {
  color: var(--white);
  font-size: 25px;
}

.search {
}

.search input {
  border-radius: 11px;
  width: 300px;
  padding: 10px;
}

#latest-articles {
  background-color: aquamarine;
  position: relative;
}

#latest-articles h1 {
  position: absolute;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#latest-articles .theme {
  position: absolute;
  right: 80px;
  display: flex;
  align-items: center;
}

#latest-articles .theme div {
  width: 60px;
  height: 60px;
  background-color: var(--black);
  transform: rotate(-20deg);
  border-radius: 15px;
}

#latest-articles .theme p {
  margin-left: 20px;
}

#latest-articles-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

#latest-articles-container article {
  border: 1px solid;
  height: 725px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  padding-left: 70px;
}

.writer {
  display: flex;
  align-items: center;
}

.tilt {
  height: 86px;
  width: 86px;
  background-color: var(--black);
  border-radius: 15px;
  transform: rotate(-20deg);
}

.writer p {
  margin-left: 20px;
  font-size: 16px;
}

#latest-articles-container .title {
  /* display: flex; */
}

#latest-articles-container .title h2 {
  font-size: 40px;
}

#latest-articles-container .title .comment {
  display: inline-block;
  width: 160px;
  height: 25px;
  background-color: var(--black);
}
